---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

// Global font override
body {
  font-family: 'Roboto Mono', monospace !important;
  font-size: 14px;
}

strong, b {
  font-weight: 700; // bold weight for strong/b tags
}
